<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
</style>


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	height: 60px;
	background: #333;
	color: #fff;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.contenedor {
	width: 98%;
	margin: auto;
}

div.space-100{
	width: 100%;
	height: 100px;
}

h1 {
	float: left;
}

header .contenedor {
	display: table;
}

p {
	line-height: 1.5em;
	margin-left: 100px;
	margin-right: 100px;
}


section {
	width: 100%; 
	margin-bottom: 25px;
	text-align: center;
	padding: 5px;

}

#welcome {
	text-align: center;
}

.title {
	background: #333;
	font-size: 24px;
	color: #fff;
	text-align: center;	
	width: 100%; 
	margin-bottom: 25px;
	text-align: center;
	padding: 5px;
}

footer .contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px;
}

.copy {
	font-size: 20px;
}

.sociales {
	width: 100%;
	text-align: center;
	font-size: 28px;
}

.sociales a {
	color: #000;
	text-decoration: none;
}

@media (min-width: 768px) {
	.sociales {
		width: auto;
	}

	footer .contenedor {
		justify-content: space-between;
	}

@media (min-width: 1024px) {
	.contenedor {
		width: 1000px;
	}
}